body
{
	text-align:center;
	vertical-align:middle;
}
table input
{
	width:100px;
	height:100px;
	font-size:72px;
	text-align:center;
}
.myChess
{
	background-color:red;
}
.computerChess
{
	background-color:#C9F;
}
.commonChess
{
	background-color:white;
}